# design
adobe_xd_export

# dependencies cach
.cache
node_modules

# parcel locations
dist
dev
webscraper/package-lock.json

#db credentials
dbcredentials.py

#Pycharm files
.idea/*

backups
src/js/tokens.js
