# design
adobe_xd_export

# dependencies cach
.cache
node_modules

# parcel locations
dist
dev
webscraper/package-lock.json

#db credentials
dbcredentials.py

#Pycharm files
.idea/*
.idea/vcs.xml

backups
src/js/tokens.js
package-lock.json
.DS_Store
