<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Re-store: Request</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href='../src/css/generatedStyles.css' rel='stylesheet' />
    <link href='../src/css/menu.css' rel='stylesheet' />
    <link href='../src/css/styles.css' rel='stylesheet' />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="Web_1920___home">
        <div class="errors" v-if="errors"><span v-cloak>{{errors}}</span></div>
        <div id="desktop">
            Authorizing...
        </div>
        <div id="mobile">
            Authorizing oauth...
        </div>

        <div class="semipolar-spinner" v-if="loading" v-cloak>
            <div class="ring"></div>
            <div class="ring"></div>
            <div class="ring"></div>
            <div class="ring"></div>
            <div class="ring"></div>
        </div>
    </div>
</body>
<script src="../src/js/index.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-102829142-29"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-102829142-29');
</script>


</html>